/*.col-centered{
    float: none;
    margin: 0 auto;
}*/

.row-centered {
    text-align:center;
}


.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#pattern-box {
    border: 2px solid #ccccccc2;
    padding: 30px 15px;
}